body {
    font-family:-apple-system, system-ui, BlinkMacSystemFont;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0px auto;
    overflow: hidden;
    /* border: 1px solid #e7e7e7;*/
    background-color: #f3f3f3;
    box-shadow: 1px 5px 4px #DCDCDC;
    font-family:-apple-system, system-ui, BlinkMacSystemFont;
    font-size: 125%;
}

/*
li {
    float: left;
}
*/

li a {
    float: left;
    display: block; 
    color: #606060;
    text-align: center;
    padding: 0.75em 16px;
    text-decoration: none;
    list-style-type: none;
    left: 50%;
    width: 10%;
    margin: 0 auto;
    
}

li img {
    width:2%;
    height:2.225%;
    margin: 1%;
    margin-top: 0.5%;
    margin-bottom: 0%;
    float: left;
    
   
}


li a:hover:not(.active) {
    background-color: #606060;
    color: #f3f3f3;
}

li img:hover:not(.active) {
    background-color: #f3f3f3;
    box-shadow: 1px 5px 4px #505050;
    color: #f3f3f3;
}

body {
    margin: 0;
}

/*
li a.active {
    color: white;
    background-color: #666;
}
*/

/* ROLLER ANIMATION */

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #55AEF9;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

/* ROLLER ANIMATION END */
