ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid #e7e7e7;*/
    background-color: #f3f3f3;
    box-shadow: 1px 5px 4px #DCDCDC;
    font-family:-apple-system, system-ui, BlinkMacSystemFont;
    font-size: 125%;
}

li {
    float: left;
}

li a {
    /*display: block; */
    color: #606060;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}


li a:hover:not(.active) {
    background-color: #606060;
    color: #f3f3f3;
}

li img:hover:not(.active) {
    background-color: green;
    color: #f3f3f3;
}

body {
    margin: 0;
}

/*
li a.active {
    color: white;
    background-color: #666;
}
*/
